  {% extends 'shop/base.html' %}
  {% block content %}
    {% if user.is_staff %}
    <!-- Order list -->
    <h1>Order List</h1>
    {% for order in orders %}
        <!-- Display order details -->
        <p>This is order <b> <a href="{% url 'shop:order_detail' id=order.id %}">{{order.id }}</a></b> for
       {{order.customer.id}}. The order was placed on: {{ order.created_date }} 
    </p>
    {% endfor %}
{% else %}
    <p>You do not have permission to view this page.</p>
{% endif %}
    
    

    {% endblock %}

    
